main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 60px;
}

form {
    width: 500px;
    height: auto;
    padding: 16px 32px;
    border-radius: 8px;
    box-shadow: -1px 1px 17px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 1px 17px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 17px -3px rgba(0, 0, 0, 0.75);
}

form label {
    font-size: 16px;
}

form input,
form select,
form textarea,
button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px 15px;
    border: 1px solid #568496;
    outline: 1.5px solid #568496;
    font-size: 14px;
    padding: 0px 8px;
}

/* 
form input:nth-child(3) {
    background-color: red;
} */

form input::placeholder {
    color: rgb(228, 228, 228);
}

form textarea {
    height: 150px;
    padding: 8px;
    font-family: 'Poppins', sans-serif;
}

button {
    border: none;
    background-color: #568496;
    color: #fff;
    transition: 0.5s ease;
}

button:hover {
    background-color: #456A78;
}